*{
    margin: 0;
    padding: 0;
}

:root{
    --headerback: #B57A44;
    --footer:#d8aa80;
    --nav: #B69A94;
    --section: #b4b1b0;
}

header{
    background: var(--headerback);
    width: auto;
    height: 7vh;
    /*padding-top: 10px;
    padding-bottom: 10px;*/
    text-align: center;
}

header h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
}

nav{
    background: var(--nav);
    width: 20vw;
    float: left;
    height: 90vh;
}

section {
    background: var(--section);
    width: auto;
    height: 90vh;
}

footer {
    background: var(--footer);
    width: auto;
    height: 3vh;
    padding-top: 2px;
    text-align: center;
    
}

footer h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
}