*{
    margin: 0;
    padding: 0;
}
/* paleta de cores

.color1 { #f1ecdf };
.color2 { #d4c9ad };
.color3 { #c7ba99 };
.color4 { #000000 };
.color5 { #f58723 }; */

:root{
    --headerback: #f58723;
    --input: #f1ecdf;
    --footer:#f58723;
    --texto: #000000;
    --nav: #c7ba99;
    --section: #d4c9ad;
    --border:#b4b1b0;
    --border-camera: #352620;
    --font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    background: var(--headerback);
    width: auto;
    height: 7vh;
    /*padding-top: 10px;
    padding-bottom: 10px;*/
    text-align: center;
}

header h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: #000000;
}

nav{
    background: var(--nav);
    width: 20vw;
    float: left;
    height: 90vh;
    border: 2px solid var(--border);
}

section {
    background: var(--section);
    width: auto;
    padding-left: 20vw;
    height: 90vh;
    border: 2px solid var(--border);
}
img{
    width: 100%;
    height: 89vh;
    text-align: center;
}

#camera {
    padding-left: 2px;
    margin-left: 5px;
    border: 2px solid var(--border-camera);
    font-family: var(--font-family);
    display: flex;
}

#search {
    padding-left: 15px;
}

.input-field{
    display: flex;
    justify-content: space-between;
    border-radius: 40px 40px 0px 40px;
    background: var(--input);
    flex-direction: row-reverse;
}

#search h4{
    font-size: 20px;
    font-family: var(--font-family);
}

#searchInput{
    border: none;
    outline: none;
    background: var(--input);
    border-radius: 0px 40px 0px 0px;
    width: 400px;
    height: 30px;
    padding-left: 10px;
    color: var(--texto);
}

.searchLabel {
    width: 90px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px 40px 0px 40px !important;
    background: #1d0f01 !important;
    color: #b4b1b0 !important;
    padding-bottom: 5px !important;
    text-transform: uppercase;
    font-family: var(--font-family);
    font-size: 15px !important;
}

#filter {
    padding-left: 15px;
    font-family: var(--font-family);
}

#filter h4{
    font-size: 20px;
}

#filter-selected {
    border: none;
    outline: none;
    border: 1px solid #B57A44;
    border-radius: 40px 40px 0px 40px;
    width: 100px;
    height: 30px;
    text-align: center;
    background: var(--headerback);
    color: #1d0f01;
}



div > div > h3{
    color: aqua;
}
div > div > p{
    color: aqua;
}

footer {
    background: var(--footer);
    width: auto;
    height: 3vh;
    padding-top: 2px;
    text-align: center;
    
}

footer h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    color: #000000;
}